body {
  margin: 0;
  font-family: chicago, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  background-image: url("https://www.transparenttextures.com/patterns/blu-stripes.png");

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-bg-color: #444444;
  --header-bg-color: #444444;
  --body-bg-color: #FDFDFD;
}

@font-face {
  font-family: chicago;
  src: url('./static/chicago/ChicagoFLF.ttf');
}